
.bg-grey{
background-color:#f2f2f2;
}

.search-container{
border-radius:200px !important;
min-height: 44px;
}
input:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

a:link{color:black;
font-family:sans-serif;
text-decoration:none;
}

a:hover{color:black;
text-decoration:underline;
}
body{
font-size:.9rem  !important;
}

.language{
font-size:.8rem  !important;
}

.central{
margin-top:15vh;
}
